@{
    ViewBag.Title = "Home Page";


    var webHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("WebHost");
    var apiHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("ApiHost");
    var signalrHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("SignalRHost");
}

@section scripts
{
    <script src="@signalrHost/scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="@signalrHost/signalr/hubs"></script>
    <script src="~/ViewModels/MainViewModel.js"></script>
    <script type="text/javascript">
        (function () {
            var viewModel = new CloudScale.MainViewModel('@apiHost');

            ko.applyBindings(viewModel);

            PNotify.prototype.options.styling = "bootstrap3";

            viewModel.GetRandomMovie();

            // set up SignalR
            $.connection.hub.url = "@signalrHost/signalr";

            var hub = $.connection.movieHub;

            hub.client.Ping = function () {
                new PNotify({
                    text: 'ping... pong...',
                    nonblock: {
                        nonblock: true,
                        nonblock_opacity: .2
                    }
                });
            }

            hub.client.Notify = function (message) {
                new PNotify({
                    text: message,
                    nonblock: {
                        nonblock: true,
                        nonblock_opacity: .2
                    },
                    history: {
                        maxonscreen: 5
                    }
                });
            }

            $.connection.hub.logging = false;
            $.connection.hub.start().done(function () {
                // do stuff ?  register session id?
            });
        })();
    </script>
}

<div class="container">
    <h1>Movies</h1>
</div>

<div class="form-group">
    <label>Search Movies</label>
    <input type="text" data-bind="value: SearchString, valueUpdate: 'afterkeydown'" />
    <input type="button" data-bind="enable: SearchString, click: SearchMovie" value="Search" />
</div>

<div class="form-group">
    <label>Add Movie</label>
    <input type="text" data-bind="value: AddString, valueUpdate: 'afterkeydown'" />
    <input type="button" data-bind="enable: AddString, click: AddMovie" value="Add" />
</div>

<input type="button" data-bind="click: GetRandomMovie" value="Get Movie" />
<div class="container" data-bind="with: Movie">
    <span data-bind="text: Id"></span>
    <h3 data-bind="text: Name"></h3>
    <img data-bind="attr:{src: Poster}" />
</div>

<ul data-bind="foreach: Movies">
    <li data-bind="text: Name" />
</ul>