@{
    ViewBag.Title = "Home Page";


    var webHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("WebHost");
    var apiHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("ApiHost");
    var signalrHost = Microsoft.WindowsAzure.CloudConfigurationManager.GetSetting("SignalRHost");
}

@section scripts
{
    <script src="@signalrHost/scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="@signalrHost/signalr/hubs"></script>
    <script src="~/ViewModels/MainViewModel.js"></script>
    <script type="text/javascript">
        (function () {
            var viewModel = new CloudScale.MainViewModel('@apiHost');

            ko.applyBindings(viewModel);

            PNotify.prototype.options.styling = "bootstrap3";

            viewModel.GetRandomMovie();

            // set up SignalR
            $.connection.hub.url = "@signalrHost/signalr";

            var hub = $.connection.movieHub;

            hub.client.Ping = function () {
                new PNotify({
                    text: 'ping... pong...',
                    nonblock: {
                        nonblock: true,
                        nonblock_opacity: .2
                    }
                });
            }

            hub.client.Notify = function (message) {
                new PNotify({
                    text: message,
                    nonblock: {
                        nonblock: true,
                        nonblock_opacity: .2
                    },
                    history: {
                        maxonscreen: 5
                    }
                });
            }

            $.connection.hub.logging = false;
            $.connection.hub.start().done(function () {
                // do stuff ?  register session id?
            });
        })();
    </script>
}

<div class="container">
    <h1>Movies</h1>
    <div class="row">

        <div class="col-lg-4">
            <div class="form-group">
                <label>Search Movies</label>
                <input type="text" data-bind="value: SearchString, valueUpdate: 'afterkeydown'" />
                <input class="btn btn-primary" type="button" data-bind="enable: SearchString, click: SearchMovie" value="Search" />
            </div>

            <div class="form-group">
                <label>Add Movie</label>
                <input type="text" data-bind="value: AddString, valueUpdate: 'afterkeydown'" />
                <input class="btn btn-primary" type="button" data-bind="enable: AddString, click: AddMovie" value="Add" />
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="button" data-bind="click: GetRandomMovie" value="Get Movie" />
            </div>
        </div>

        <div class="col-lg-8">
            <div data-bind="with: Movie">
                <h3 data-bind="text: Name"></h3>
                <img data-bind="attr:{src: Poster}" />
            </div>

            <p>

            </p>

            <div class="btn-toolbar text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: GetRandomMovie">X</button>
                </div>
                <div class="btn-group" data-bind="foreach: ['1','2','3','4','5']">
                    <button type="button" class="btn btn-default" data-bind="text: $data, click: $parent.Vote" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">1</div>
    <div class="btn-group">2</div>
    <div class="btn-group">3</div>
    <div class="btn-group">4</div>
    <div class="btn-group">5</div>
</div>

<div class="well">
    <div class="row" data-bind="foreach: Movies">
        <h3 data-bind="text: Name" />
    </div>
</div>

-->
